@use "./styles/variables" as v;

.app {
  min-height: 100vh;
  background: linear-gradient(135deg,
      v.color(brand-1) 0%,
      v.color(brand-2) 30%,
      v.color(brand-3) 80%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  >* {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
  }

  // Tablet
  @include v.respond(tab768) {
    padding: 28px;
  }

  // Desktop
  @include v.respond(desk1366) {
    padding: 40px;
    padding-top: 56px;
  }

  .app__title {
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 24px;

    @include v.respond(tab768) {
      font-size: 2rem;
      margin-bottom: 28px;
    }

    @include v.respond(desk1366) {
      font-size: 2.2rem;
      margin-bottom: 32px;
    }
  }
}